fieldset {
  width: 100%;
  background-color: white;
  position: relative;
  display: block;
  margin-top: 15px;
  border-radius: 10px;
}

legend {
  width: 200px;
  border: 3px solid silver;
  border-radius: 10px;
  background-color: #3d8bd4;
  margin-left: 50px;
  margin-top: -15px;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0;
}

legend h1 {
  font-size: 20px;
  font-family: "Segoe UI", "Arial", "Times New Roman";
  color: white;
  padding-left: 10px;
}

.btn-primary {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.space-icon {
  height: 1.19em;
  font-size: 12px;
}

h1:focus {
  color: #3083ff;
}

h1 {
  font-size: 1.2rem;
  margin-bottom: 0;
  color: #fff;
}

h2 {
  font-size: 1.2rem;
  color: #fff;
}

.nav-link {
  margin-left: 5px;
  color: white;
  white-space: nowrap;

  .box-link {
    background-color: #fff;
    color: #002350;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 12px;
    font-weight: 500;
  }
}

.area-terminal-comandos-comandos {
  height: 25vh;
  overflow-y: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.btn-ready-recording {
  background-color: #4B0082;
  border-color: #4B0082;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: #5B21B6;
    border-color: #5B21B6;
    color: #ffffff;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(75, 0, 130, 0.5);
  }
}

.btn-active-recording {
  background-color: #9A3412;
  border-color: #9A3412;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: #7C2D12;
    border-color: #7C2D12;
    color: #ffffff;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(154, 52, 18, 0.5);
  }
}

#area-comandos-terminal {
  background-color: #1455AA;
  margin: 0 24px;
  border-radius: 12px;
}

.logo-ivprog {
  width: 100%;
  max-width: 192px;
  height: auto;
  margin-left: 0.5rem;
}

.area-comandos-wrapper {
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

footer {
  padding: 8px 24px;
  color: #fff;

  .logo-lumia {
    height: 64px;
  }

  .logo-ufc {
    height: 64px;
  }

  .footer-copy-text {
    font-weight: 300;

    p {
      margin: 0;
    }
  }

  span {
    font-weight: 300;
  }
}

@media screen and (max-width: 768px) {
  .logo-ivprog {
    max-width: 128px;
    margin-left: 0.25rem;
  }

  #area-comandos-terminal {
    margin: 0 4px;
  }

  .area-comandos-wrapper {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }

  .area-terminal-comandos-comandos {
    height: 100%;
    min-height: 156px;
    max-height: 396px;
    padding-right: .25rem;
    padding-left: .25rem;
  }
}