input{
    width: 5rem;
}

select{
    width: auto;
    margin-right: 5px;
    margin-bottom: 5px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.operator{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.select-main-var {
    width: auto;
    min-width: 140px;
}

.op-col {
    display: inline-flex;
    align-items: center;
}

.more{
    margin-left: 10px;
    margin-right: 10px;
}
.rigth{
    margin-right: 6px;
}

.trash{
    background-color: transparent;
    border: none;
}

.new-back{
    background-color: #ffb0dd;
}

.dropdown-toggle::after{
    display: none !important;
}

@media screen and (max-width: 576px) {
    .select-main-var {
        width: 100%;
    }
    .op-col {
        .form-control, .form-select {
            width: 100%;
        }
    }
}